<template>
    <div id="app">
        <b-container class="bv-example-row my-5">
            <b-card
                title="Bootstrap Vue"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 20rem;"
                class="mb-2"
            >
                <b-card-text>
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </b-card-text>

                <b-button href="#" variant="primary">Go somewhere</b-button>
            </b-card>
        </b-container>

    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>
